<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new item</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css')}}">
</head>
<body >
<h1>Add</h1>
{% if warn %} {{warnmessage}} {% endif %}
<form method="post">
    <div class="justify-content-center">
    Title:<br>
    <input type="text" name="title" required><br>
    Deadline:<br>
    <input type="date" name="deadline" required><br>
    Importance:<br>
    <input type="number" name="importance" min="1" max="5" required>
    <input type="submit" value="Submit" class="btn btn-outline-primary btn-block">
    </div>
</form>
</body>
</html>