<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css')}}">
</head>
<body>
<H1>To Do List</H1>
<form method="post">
    Login<br>
    <input type="text" name="login" required><br>
    Password<br>
    <input type="password", name="passwd" required><br>
    <input type="submit" value="Log In"><br>
    {% if wrong %} Wrong password {% endif %}
</form>

</body>
</html>